<%- include('partials/header.ejs') %>

<header></header>

<main></main>

<footer></footer>

<script src="/socket.io/socket.io.js"></script>
<script src="app.js"></script>

<%- include('partials/footer.ejs') %>